/* ===== Estilos globales ===== */

:root {
	--blanco: #fff;
	--grisClaro: #edf2f6;
	--grisMedio: #2f3848;
	--grisOscuro: #1a202d;
	--rojo: rgb(206, 0, 0);

	--fontFamily: 'Roboto', sans-serif;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Roboto', sans-serif;
	font-size: 62.5%;
}

body {
	display: grid;
	justify-content: center;
	align-items: center;
	/* width: 100vw; */
	height: 100vh;
	font-size: 1.6rem;
	background: var(--grisOscuro);
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}
